body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  background: #222;
  color: white;
  font-family: sans-serif;
}

h1 {
  margin-top: 20px;
}

.view-toggle {
  margin: 10px 0;
}

.view-toggle button {
  margin: 0 5px;
  padding: 8px 15px;
  background: #444;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.container {
  display: none;
  margin: 10px;
}

.container.active {
  display: grid;
  gap: 10px;
  justify-content: center;
}

#drum-view {
  width: 80%;
  grid-template-columns: repeat(2, 1fr); /* Ensure 2 columns */
}

.drum-pad {
  color: black;
  width: 100%;
  padding-top: 100%; /* Maintain square aspect ratio */
  position: relative;
  background: #555;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  touch-action: none;
  cursor: pointer;
  user-select: none;
  text-align: center; /* Center text horizontally */
}

.drum-pad::after {
  content: attr(data-sound);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; /* Center text horizontally */
}

.drum-pad.active {
  /* background: #ff5722; */
}

#synth-view {
  width: 80%;
  grid-template-columns: repeat(7, 10vw);
  gap: 0;
}

.synth-key {
  width: 10vw;
  height: 30vw;
  color: black;
  background: #fff;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  touch-action: none;
}

.synth-key.active {
  background: #ff5722;
}

.looper-controls {
  margin-top: 20px;
}

.step-indicator {
  display: flex;
  gap: 4px;
  margin-top: 20px;
}

.dot {
  width: 16px;
  height: 16px;
  background: #333;
  border-radius: 50%;
  border: 2px solid transparent;
}

.main-beat {
  background: #555;
  /* slightly lighter to emphasize */
}

.dot.current {
  border: 2px solid white;
  /* highlight current step */
}

.waveform-icon {
  filter: invert();
}

.waveform-label {
  display: flex;
  align-items: center;
  margin: 5px;
}

.waveform-label input {
  margin-right: 10px;
}

.waveform-icon {
  width: 24px;
  height: 24px;
  filter: invert();
}

.waveform-label input[type="radio"] {
  display: none;
}

.waveform-label input[type="radio"]+.waveform-icon {
  border: none;
}

.waveform-label input[type="radio"]:checked+.waveform-icon {
  border: 2px solid rgb(78, 78, 78);
}